<div id="top_header">
  <p id="mars">Win trip to mars</p>
  <p id="left_places"></p>
  <p id="register"> Register to get one-way ticket to Red Planet</p>
   <div class="signin-body">
      <div class="container">
          

              <form class="form-horizontal" id="add_new_customer_form">
                  <fieldset>
                  	<div class="form-group">
                          <span class="glyphicon glyphicon-lock"></span>
                          <input type="text"
                                 class="form-control input-lg input-round text-center form_name"
                                 placeholder="Full name" id="customer_name"
                                 >
                      </div>
                      <div class="form-group">
                          <span class="glyphicon glyphicon-envelope"></span>
                          <input type="email"
                                 class="form-control input-lg input-round text-center form_name"
                                 placeholder="Email" id ="customer_email"
                                 >
                      </div>
                      
                      <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-lg btn-round btn-block text-center" id="submit_button" >
                      </div>
                  </fieldset>
              </form>
          
      </div>
  </div>
</div>
<div class="winners" ><p id="winners_cap">The winners</p></div>

<div id="load_more_users">
    <form action="" class="more" ><div><input class="btn btn-primary btn-large" type="submit" value="More users" id="load_more"/></div></form> 
</div>
