<h1 id="mars">Win trip to mars</h1>
<p id="left_places"></p>
<p id="register"> Register to get one-way ticket to Red Planet</p>
 <div class="signin-body">
    <div class="container">
        <div class="form-container">

            <form class="form-horizontal" id="add_new_customer_form">
                <fieldset>
                	<div class="form-group">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input type="text"
                               class="form-control input-lg input-round text-center"
                               placeholder="Full name" id="customer_name"
                               >
                    </div>
                    <div class="form-group">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <input type="email"
                               class="form-control input-lg input-round text-center"
                               placeholder="Email" id ="customer_email"
                               >
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-round btn-block text-center" >
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<p class="winners">The winners</p>

<div id="load_more_users">
    <form action="" class="more" ><div><input class="btn btn-primary btn-large" type="submit" value="More users" /></div></form> 
</div>
