<h1>Win trip to mars</h1>
<p id="left_places"></p>
<p> Register to get one-way ticket to Red Planet</p>
<p class="winners">The winners</p>

<div id="load_more_users">
    <form action="" class="more" ><div><input class="btn btn-primary btn-large" type="submit" value="More users" /></div></form> 
</div>
